{% extends 'base.html' %}

{% block content %}
<div>
    <h1>h1</h1>
    <p>p</p>

    <h2>
        First Method of passing variable.
    </h2>
    
    <p>
        {{some_string}}
    </p>
    <p>
        {{some_number}}
    </p>
    
    <h2>
        Second Method of passing variable.
    </h2>
    
    <p>
        {{some_string}}
    </p>
    <p>
        {{some_number}}
    </p>


    {% for account in acocunts %}
        {% include 'personal/snippets/body_snippet.html' with value=question %}
    {% endfor %}

</div>
{% endblock content %}  